body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HERO */
.hero {
  background-image: url("leaves.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: center;
}

/* ABOUT */
.about {
  display: flex;
  padding: 60px;
  gap: 40px;
}

.about-title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.about-body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 1.6;

.about img {
  width: 200px;
  border-radius: 5px;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  margin-top: 20px;
}

/* PROJECTS */
.projects {
  background-color: #8fa67b; /* your green */
  color: white;
  padding: 60px;
}

.project-scroll {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.project-card {
  min-width: 300px;
}

.project-card img {
  width: 100%;
  border-radius: 5px;
}

.profile-img {
  width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  max-width: 100%;
}

