body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HERO */
.hero {
  background-image: url("leaves.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: center;
}

/* ABOUT */

.about {
  padding: 60px 10%;
}

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.about-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 220px;
  height: 220px;
  object-fit: cover;      /* prevents stretching */
  border-radius: 50%;     /* makes it a circle */
}

.resume-button {
  margin-top: 20px;
  padding: 10px 28px;
  border: 2px solid black;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.resume-button:hover {
  background-color: black;
  color: white;
}

.about-right h2 {
  font-size: 28px;   /* bigger than body, smaller than title */
  margin-bottom: 15px;
}

.about-right p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}


.resume-button:hover {
  background: #000;
  color: #fff;
}

/* PROJECTS */
.projects {
  background-color: #8fa67b; /* your green */
  color: white;
  padding: 60px;
}

.project-scroll {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.project-card {
  min-width: 300px;
}

.project-card img {
  width: 100%;
  border-radius: 5px;
}

.profile-img {
  width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  max-width: 100%;
}

